{% extends 'base.html' %}
{% block content %}
<div class="card col-lg-10 mx-auto">
    <div class="card-header fw-bold">Input Transaksi Baru</div>
    <div class="card-body p-4">
        <form method="POST">
            <div class="row mb-3">
                <div class="col-md-4"><label class="form-label small fw-bold">TANGGAL</label><input type="date" name="tanggal" class="form-control" value="{{ today }}" required></div>
                <div class="col-md-8"><label class="form-label small fw-bold">DESKRIPSI</label><input type="text" name="deskripsi" class="form-control" required></div>
            </div>
            <div class="row mb-3 bg-light p-3 rounded mx-1">
                <div class="col-md-6 border-end">
                    <label class="form-label text-success fw-bold">DEBIT (Masuk/Beban)</label>
                    <select name="akun_debit" class="form-select" required>{% for a in akun_list %}<option value="{{ a.kode_akun }}">{{ a.kode_akun }} - {{ a.nama_akun }}</option>{% endfor %}</select>
                </div>
                <div class="col-md-6">
                    <label class="form-label text-danger fw-bold">KREDIT (Keluar/Sumber)</label>
                    <select name="akun_kredit" class="form-select" required><option selected disabled>Pilih...</option>{% for a in akun_list %}<option value="{{ a.kode_akun }}">{{ a.kode_akun }} - {{ a.nama_akun }}</option>{% endfor %}</select>
                </div>
            </div>
            <div class="mb-4"><label class="form-label small fw-bold">NOMINAL</label><div class="input-group"><span class="input-group-text">Rp</span><input type="number" name="nominal" class="form-control fw-bold" required></div></div>
            <button type="submit" class="btn btn-primary w-100 py-2">POSTING</button>
        </form>
    </div>
</div>
{% endblock %}